.blog_container{
  font-size: calc(16px + .2vw);
  min-height: 50vh;
  padding: 1em 1em 3em 1em;
  display:grid;
  grid-template-columns: repeat(12,1fr);
  }

.blog_post{
  grid-column: 3/11;
  box-shadow: 1px 2px 9px 0px rgba(11, 36, 74, .4) ;
  padding: 0 2em 2em 2em;
}

.blog_post_title{
  padding: 0;
  margin: 1.8em 0 .5em 0;
  text-decoration: none;
  
  
}