

html {
  
  font-size: 1em;
  line-height: 1.4;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(10,1fr);
  grid-template-rows: repeat(10, 1fr);

}

.info{
	grid-column: 1/-1;
	grid-row: 3/6;
	justify-self:center;
}
.name{
	
	padding: 0 0;
	margin: 0 0;
	text-align:center;
	font-size: calc(3em + 2vw);
	
}

.nav_list{
  list-style: none;
  text-align: center;
  padding: 0 0;
  margin: 0 0;
}

.icon-list{
	padding: 0 0;
	margin: 0 0;
	text-align: center;
}

div ul li{
  display: inline;
  margin: 10px;
  font-size: calc(.5em + 2vw);
 
}


ion-icon{
	font-size: calc(.5em + 2vw);
	padding: 15px;
	border-radius: 50%;
	margin: 5px 2px;
	text-align: center;
	color: rgba(0,0,0,1);

}

ion-icon:hover {
    opacity: 0.7;
}


a.nav_bar_link {
  font-size: 25px;
  text-decoration: none;
  color: #0B244A;
  text-transform: uppercase;
   font-family: "Segoe UI";
     font-weight: 600;
}

@media (max-width: 600px) {
  .grid-container  {
    display: grid;

  }
  
  .name{
	
	padding: 0 0;
	margin: 0 0;
	text-align:center;
	font-size: 12vw;
	
}
a.nav_bar_link {
  font-size: 5vw;
}
}
