
.project_header{
	padding: 0 1em;
	margin: 1em 0;
	justify-self: center;
	grid-column: 2/11;
}
.project_subheader{
	padding: 0 0em;
	margin: 1em 0;
	grid-column: 2/11;

}

.project_container{
	
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-column: 1/-1;
	padding: 0 3em 1em 3em;
	margin: 0 auto;
	max-width: 1300px;
}

figure {
    grid-column:2/11;
    justify-self: center;
    margin-top: 1em;
    margin-bottom: .5em;
}
.project_container p{
	font-family: "mr-eaves-xl-sans", sans-serif;
	padding-bottom: 1em;
	grid-column: 2/11;
}

figure img{
	object-fit: contain;
	max-width: 100%;
	height: auto;
	}
	
@media all and (max-width: 768px) {

    figure {
        grid-column: 1 / -1;
		margin-top: 0;
		margin-bottom: 0;
    }	
	figure img{
		padding: 0 0 0 0;
		margin: 0 0 0 0;
	}
	.project_container p{
		padding-bottom: 0;
		grid-column:1/-1;	

	}
	.project_header{
		grid-column:1/-1;	
}
	.project_subheader{
		grid-column: 1/-1;

		
	}
}

