<!DOCTYPE html>
<html>
    <meta charset- "UTF-8">
    <meta name= "viewport" content = "width=device-width, initial-scale=1"
	<head>
	<!-- Global Site Tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-138955316-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-138955316-1');
	</script>
    <title>{{page.title}}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href=""https://elizabetheaster.com/css/main.css">
		<link href="https://fonts.googleapis.com/css?family=Meera+Inimai" rel="stylesheet">
	</head>
	<body>
   <div class="header">
      <h1 class="name_text">Elizabeth Easter</h1>
    </div>
		<nav>
    		<ul>
	        <li><a class = "nav_bar_link" href="{{ site.url}}/index.html">projects</a></li>	
          <li><a class = "nav_bar_link" href="{{ site.url}}/about.html">about</a></li>
          <li><a class = "nav_bar_link" href="{{ site.url}}/blog/index.html">blog</a></li>
    		</ul>
		</nav>
		<div class="container">
    		{{content}}
		</div> <!--container-->

	</body>
</html>
